<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConnectionString" value="Data Source=DESKTOP-MJCAS12\SQLEXPRESS;Initial Catalog=UniversityDB;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </appSettings>
</configuration>