<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConnectionString" value="Data Source=DESKTOP-MJCAS12\SQLEXPRESS;Initial Catalog=UniversitySqlClient;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
    </appSettings>
</configuration>